.contact {
    justify-content: center;
    margin: 30px;
    padding: 30px;
    display: flex;
    gap: 20px
}

.block {
    width: 1100px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: rgba(155, 155, 155, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #f36523;
}

h3 {
    font-weight: bold;
}

.contact .block img {
    width: 50%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
